<article class="post">
  <div class="meta">
    <h2>{{post.title}}</h2>
    <div class="content">
      {{post.post_text}}
    </div>
    Posted by {{post.user.username}} on {{format_date post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
</article>
<a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}